<section class="green_color">
    <div class="container text-white">
        <div class="row footer">
            <div class="col-lg-5 mt-5">
                <h2>Navbar<span class="orange_color">.</span></h2>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
                    darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="d-flex justify-content-start mt-4">
                    <div class="me-3"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    <div class="me-3"><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
                    <div class="me-3"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    <div class="div"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="col-lg-2 mt-5 pt-3 links_css">
                <h4>Useful Links</h4>
                <ul class="list-unstyled">
                    <li>Home</li>
                    <li>About us</li>
                    <li>Services</li>
                    <li>Terms of service</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="col-lg-2 mt-5 pt-3 links_css">
                <h4>Our Services</h4>
                <ul class="list-unstyled">
                    <li>Web Design</li>
                    <li>Web Development</li>
                    <li>Product Management</li>
                    <li>Marketing</li>
                    <li>Graphic Design</li>
                </ul>
            </div>
            <div class="col-lg-3 mt-5 pt-3 address_css">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                    <li class="mb-2">A108 Adam Street</li>
                    <li class="mb-2">New York, NY 535022</li>
                    <li class="mb-4">United States</li>
                    <li class="mb-2"><span class="fw-bold">Phone:</span> +1 5589 5548855</li>
                    <li><span class="fw-bold">Email:</span> info@example.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center text-white copy_right">
        <div class="py-5">
            <p>© Copyright <span class="fw-bold">Impact.</span> All Right Reserved </p>
            <p>Designed by BootstrapMade</p>
        </div>
    </div>
</section>