
.content h2{
    font-size: 24px;
    font-weight: 700;
}
.card{
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border: 0px solid #fff;
}
.main_img {
    height: 240px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.small_img{
    width: 60px;
    height: 60px;
}
.name_date{
    font-weight: 500;
    margin-bottom: 5px;
}
.name_date p{
    font-size: 14px;
    color: #666161;
    margin-bottom: 0;
}
.name_date h6{
    font-weight: 600;
    margin-bottom: 5px
}
